:root {
  --white: #ffffffe9;
  --beige: #b9ad89;

  --green: #38ff40;
  --pink: #ff00c4;

  --purple: #978af7;
  --yellow: #dfff3d;

  --red: #e62700;
  --blue: #99c3ff;

  --space-XS: 0.5rem;
  --space-S: 1rem;
  --space-M: 2rem;
  --space-L: 5rem;
  --space-XXL: 10rem;

  --fontSize-XS: 0.9rem;
  --lineHeight-XS: 1rem;
  --letterSpacing-XS: 0.02rem;

  --fontSize-S: 1.1rem;
  --lineHeight-S: 1.2rem;

  --fontSize-M: 1.45rem;
  --lineHeight-M: 1.7rem;
  --letterSpacing-M: -0.04rem;
}

@font-face {
  font-family: "Siggnal Regular";
  src: url("/fonts/Siggnal-Regular-Trial.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Alpina Italic";
  src: url("/fonts/GT-Alpina-Standard-Regular-Italic-Trial.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Siggnal Mono";
  src: url("/fonts/Siggnal-Mono-Regular-Trial.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  max-width: 100vw;
  font-family: "Siggnal Regular", sans-serif;
  font-size: var(--fontSize-S);
  line-height: var(--lineHeight-S);
  word-spacing: -0.05em;
  color: var(--white);
}

body {
  /* color: var(--white); */
  /* background: var(--beige); */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: transparent;
  color: inherit;
}

h1 {
  font-size: 13pt;
}

em {
  font-style: normal;
  font-family: "Siggnal Mono"
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

.wallpaper {
  width: 100vw;
  height: 150vh;
  position: fixed;
  top: 0;
  z-index: -100;
  transition: all 0.5s;
}

.loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body__default {
  background: var(--beige);
  color: var(--white);
}

.planning,
.body__planning {
  background: var(--green);
  color: var(--pink);
}

.body__planning__inverted,
.planning__inverted {
  color: var(--green);
  background: var(--pink);
}

.planning__inverted:hover {
  background: none;
  color: var(--pink);
  border: 1.5px solid;
}

.border {
  border: 1.5px solid;
}

.factory,
.body__factory {
  background: var(--purple);
  color: var(--yellow);
}

.body__factory__inverted,
.factory__inverted {
  color: var(--purple);
  background: var(--yellow);
}

.imaginaries,
.body__imaginaries {
  background: var(--red);
  color: var(--blue);
}

.body__imaginaries__inverted,
.imaginaries__inverted {
  color: var(--red);
  background: var(--blue);
}

.planning:hover {
  background: none;
  outline: 1.5px solid;
  color: var(--pink);
}
.factory:hover {
  background: none;
  outline: 1.5px solid;
  color: var(--yellow);
}
.imaginaries:hover {
  background: none;
  outline: 1.5px solid;
  color: var(--blue);
}
.default {
  background: var(--white);
  color: var(--beige);
}

.default:hover {
  background: none;
  outline: 1.5px solid;
  color: var(--white);
}

.inverted {
  background: var(--beige);
  color: var(--white);
}
.inverted:hover {
  background: var(--white);
  color: var(--beige);
}

.muted {
  pointer-events: none;
}

/* SWIPER */
.swiper-button-next,
.swiper-button-prev {
  color: white !important;
  transform: scale(60%);
}
.swiper-button-next {
  margin-right: 0.6em;
}
.swiper-button-prev {
  margin-left: 0.6em;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #ccc !important;
}

@media screen and (max-width: 1024px) {
  :root {
    --space-XS: 0.3rem;
    --space-S: 0.5rem;
    --space-M: 1.5rem;
    --space-L: 3rem;
    --space-XXL: 7rem;

    --fontSize-XS: 0.8rem;
    --lineHeight-XS: 0.9rem;
    --letterSpacing-XS: 0.02rem;

    --fontSize-S: 1rem;
    --lineHeight-S: 1.1rem;

    --fontSize-M: 1.3rem;
    --lineHeight-M: 1.4rem;
    --letterSpacing-M: -0.05rem;
  }
}
