.content {
  position: absolute;
  bottom: 0;
  width: 100vw;
  color: white;
  mix-blend-mode: difference;
  display: flex;
  padding: 20px;
}

.link a:hover {
  color: red;
}

.content__left {
  width: 50%;
  display: flex;
  border-top: 1px solid white;
  padding: 5px 0;
}

.content__right {
  width: 50%;
}

.content__text {
  width: 66.6%;
}

.content__links {
  width: 33.3%;
  padding-left: 10%;
  font-weight: bold;
}

.content__links a {
  line-height: 0;
}

.content__links a:hover {
  color: red;
}

.logos__row {
  width: 100%;
  border-top: 1px solid white;
  height: 100px;
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 40px;
}

.logos__headline {
  width: 15%;
  height: 100%;
  font-size: 8pt;
}

.logos__imageContainer {
  position: relative;
  height: 17%;
  width: 15%;
  padding: 30px;
}

@media screen and (max-width: 1200px) {
  .content {
    flex-direction: column;
  }

  .content__left, .content__right {
    width: 100%;
  }
}