.link {
  position: absolute;
  bottom: 100px;
  width: 100vw;
  font-size: 30pt;
  color: white;  
  mix-blend-mode: difference;
  display: flex;
  justify-content: center;
}

.link a:hover {
  color: red;
}