.newsWrapper {
  width: 100vw;
  min-height: 50rem;
  padding: var(--space-S);
  position: relative;
  z-index: 10;
}

.newsEntry {
  position: absolute;
  display: inline-block;
  cursor: grab;
  user-select: none;
}

.label {
  position: absolute;
  height: 1.2em;
  top: -1.2em;
  left: 0;
  background: var(--white);
  color: var(--beige);
  padding: 0 3px;
}

.imageWrapper img {
  max-width: 300px;
  max-height: 300px;
  width: auto;
  height: auto;
  border: 1.5px solid var(--white);
  pointer-events: none;
}

.newsActive {
  width: 40em;
  padding: var(--space-XS);
  margin-top: var(--space-S);
  display: none;
  z-index: 80;
}

.newsActiveHeadline {
  margin-bottom: var(--space-S);
  font-family: "Siggnal Mono"
}

.newsActiveLink {
  padding-top: 1em;
}

.newsEntry:hover .newsActive {
  display: block;
}

/* PLANNING HOVER */

.planning:hover .imageWrapper img {
  border-color: var(--green);
}

.planning:hover .label {
  border-color: var(--green);
  background: var(--green);
  color: var(--pink);
}

.planning .newsActive {
  background: var(--green);
  color: var(--pink);
}

/* FACTORY HOVER */

.factory:hover .imageWrapper img {
  border-color: var(--purple);
}

.factory:hover .label {
  border-color: var(--purple);
  background: var(--purple);
  color: var(--yellow);
}

.factory .newsActive {
  background: var(--purple);
  color: var(--yellow);
}

/* IMAGINARIES HOVER */

.imaginaries:hover .imageWrapper img {
  border-color: var(--red);
  background: var(--red);
  color: var(--blue);
}

.imaginaries:hover .label {
  border-color: var(--red);
  background: var(--red);
  color: var(--blue);
}

.imaginaries .newsActive {
  background: var(--red);
  color: var(--blue);
}

/* NONE HOVER */

.none:hover .imageWrapper img {
  border-color: var(--beige);
  background: var(--beige);
  color: var(--white);
}

.none:hover .label {
  border-color: var(--beige);
  background: var(--beige);
  color: var(--white);
}

.none .newsActive {
  background: var(--white);
  color: var(--beige);
}

@media screen and (max-width: 1024px) {
  .quoteWrapper {
    margin-top: 5rem;
    margin-bottom: 10rem;
  }

  .quote {
    width: 80%;
    max-width: 1200px;
    min-width: unset;
    padding: 0 var(--space-S);
    font-size: var(--fontSize-S);
    line-height: var(--lineHeight-S);
  }
  .newsEntry {
    position: relative;
    top: unset !important;
    left: unset !important;
    max-width: 80%;
    margin-bottom: var(--space-L);
  }

  .newsActive {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 20;
    padding: var(--space-S);
  }

  .newsWrapper {
    margin-bottom: var(--space-L);
  }
}
