.wrapper {
  margin-bottom: 40em;
}

.row {
  width: 100vw;
  position: relative;
  margin-bottom: 15em;
}

.image {
  width: 33%;
  margin-left: var(--space-S);
}

.image img {
  width: 100%;
  height: auto;
  border: 1.5px solid var(--white);
}

.text {
  position: absolute;
  top: -2em;
  left: clamp(2em, 25%, 30em);
  width: 40em;
  max-width: 80vw;
  border: 1.5px solid var(--white);
  padding: var(--space-S);
  background: var(--beige);
}

.kicker {
  position: absolute;
  top: -1.3em;
  font-family: "Siggnal Mono";
  color: var(--white);
  font-size: var(--fontSize-XS);
  padding-left: var(--space-S);
  left: 0;
}

.buttons {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 66vw;
  height: 60%;
}

.buttonEntryOuter {
  position: absolute;
  z-index: 100;
}

.buttonEntry:hover {
  z-index: 50;
}
.buttonEntryOuter:hover {
  z-index: 101;
}

.button {
  background: var(--white);
  color: var(--beige);
  font-size: var(--fontSize-M);
  width: 15em;
  text-align: center;
  padding: 0.5em 0;
  margin-bottom: var(--space-S);
  cursor: grab;
}

.buttonContent {
  background: var(--white);
  color: var(--beige);
  border: 1.5px solid var(--white);
  padding: var(--space-S);
  width: 25em;
  right: 0;
  display: none;
  pointer-events: none;
  z-index: 50;
}

.buttonLink {
  margin-top: var(--space-S);
}

.buttonEntry:hover .buttonContent {
  display: block;
  pointer-events: auto;
}
.buttonEntry:hover .button {
  background: var(--beige);
  color: var(--white);
  outline: 1.5px solid var(--white);
}

.mobileKicker,
.mobileHeadline {
  display: none;
}

.summerSchoolButtons {
  height: 500px;
  width: 100vw;
  margin-bottom: 15em;
  position: relative;
}

.linkWrapper {
  width: 20em;
  position: absolute;
  top: 3.5em;
  display: flex;
  justify-content: center;
  /* z-index: -1; */
}

.link {
  outline: 1.5px solid var(--white);
  padding: 2px 5px;
  font-family: "Siggnal Mono";
}

.link:hover {
  background: var(--white);
  color: var(--beige);
}

.entryImage {
  width: 300px;
  margin-bottom: 0.5em;
  cursor: grab;
}

.entryImage img {
  width: 100%;
  height: auto;
  pointer-events: none;
  border: 1.5px solid var(--white);
}

.textHeadline {
  margin-bottom: 1em;
}
.linkButton {
  display: none;
}

@media screen and (max-width: 1024px) {
  .wrapper {
    margin-bottom: 0;
  }
  .row {
    margin-top: 10em;
    margin-bottom: 10em;
  }
  .text {
    position: relative;
    left: 0;
    padding-top: 2em;
    margin-left: calc(20% + 5px);
    margin-right: var(--space-S);
    width: unset;
    z-index: 1;
  }
  .kicker {
    display: none;
  }
  .mobileHeader {
    position: absolute;
    z-index: 50;
    left: var(--space-S);
    top: -3em;
  }
  .mobileKicker {
    display: block;
    position: absolute;
    color: white;
    top: -1.5em;
    font-size: var(--fontSize-XS);
    font-family: "Siggnal Mono";
  }
  .mobileHeadline {
    display: block;
    background: var(--white);
    color: var(--beige);
    font-size: var(--fontSize-M);
    line-height: var(--lineHeight-M);
    padding: var(--space-XS) var(--space-S);
    text-align: center;
    position: absolute;
    width: 7em;
  }
  .image {
    width: 75%;
    margin-left: var(--space-S);
    top: -4em;
    position: relative;
  }
  .buttons {
    display: none;
  }
  .linkButton {
    display: block;
    background: var(--white);
    color: var(--beige);
    margin-top: var(--space-M);
    font-size: var(--fontSize-M);
    line-height: var(--lineHeight-M);
    padding: var(--space-XS) var(--space-S);
    text-align: center;
    font-family: "Siggnal Mono";
    transform: translateY(-0.5em);
    width: 100%;
  }
  .buttonEntryOuter {
    /* position: relative; */
    /* left: var(--space-S) !important; */
    /* top: unset !important; */
    display: None;
  }

  .buttonContent {
    position: absolute;
    left: 0;
    z-index: 100;
    max-width: calc(100vw - 2 * var(--space-S));
    display: none;
  }
  .summerSchool {
    position: relative;
    margin-top: var(--space-XXL);
  }
  .summerSchoolButtons {
    width: calc(100vw - var(--space-S));
    height: 0;
  }
  .summerSchoolButton {
    display: none;
  }
  .summerSchool .mobileHeadline {
    width: 9em;
  }
  .summerSchool .linkButton {
    width: 75%;
    margin-left: 25%;
    margin-top: var(--space-L)
  }
}
