.wrapper {
  padding-left: 10vw;
}

.headline {
  max-width: 8rem;
  background: var(--white);
  padding: 0.5em 0;
  color: var(--beige);
  position: relative;
  text-align: center;
  transform: translate(3em, 1em);
  z-index: 2;
}

.kicker {
  position: absolute;
  top: -1.5em;
  text-indent: 0;
  font-family: "Siggnal Mono";
  color: var(--white);
  font-size: var(--fontSize-XS);
  text-align: left;
}

.body {
  width: 40vw;
  max-width: 1200px;
  border: 1.5px solid var(--white);
  padding: 1em 1em;
  text-indent: 3em;
  background: var(--beige);
  position: relative;
  z-index: 1;
  transform: translateX(6em);
  margin-bottom: 10em;
}

.teamlist {
  width: 100vw;
  padding: var(--space-S);
  position: relative;
  width: 100vw;
  height: 100vh;
}
.teamEntry {
  position: absolute;
  transition:
    top 0.2s ease,
    left 0.2s ease;
  user-select: none;
  z-index: 100;
}

.teamEntry p {
  max-height: 7.5em;
  overflow: hidden;
}

.teamName {
  width: 15em;
  border: 1.5px solid var(--white);
  padding: var(--space-XS);
  background: var(--beige);
  cursor: grab;
  border: 1.5px solid;
}

.teamAffiliation {
  font-family: "Siggnal Mono";
  font-size: var(--fontSize-XS);
  line-height: var(--lineHeight-XS);
}

.teamEntry:hover .teamName {
  color: var(--beige);
  background: var(--white);
}

.teamActive {
  width: 25em;
  padding: var(--space-XS);
  margin-top: var(--space-S);
  display: none;
  z-index: 2;
  color: var(--beige);
  background: var(--white);
}

.teamEntry:hover .teamActive {
  display: block;
}

.planning:hover .label {
  border-color: var(--green);
  background: var(--green);
  color: var(--pink);
}

.planning .teamActive {
  background: var(--green);
  color: var(--pink);
}

.factory:hover .label {
  border-color: var(--purple);
  background: var(--purple);
  color: var(--yellow);
}

.factory .teamActive {
  background: var(--purple);
  color: var(--yellow);
}

.imaginaries:hover .label {
  border-color: var(--red);
  background: var(--red);
  color: var(--blue);
}

.imaginaries .teamActive {
  background: var(--red);
  color: var(--blue);
}

.none:hover .label {
  border-color: var(--beige);
  background: var(--beige);
  color: var(--white);
}

.none .newsActive {
  background: var(--white);
  color: var(--beige);
}

.link {
  margin-top: 1em;
}

.resetButton {
  background: var(--white);
  color: var(--beige);
  position: fixed;
  bottom: var(--space-S);
  left: calc(50vw - 1.75em);
  z-index: 100;
  cursor: pointer;
  width: 3.5em;
  text-align: center;
  height: 1em;
  font-size: var(--fontSize-M);
}

.resetButton:hover {
  background: var(--beige);
  color: var(--white);
  border: 1.5px solid var(--white);
}

/* BUTTONS */

.buttonsWrapper {
  width: 100vw;
  height: 10em;
  position: relative;
  margin-bottom: 15em;
}

.buttonEntry {
  position: absolute;
}

.button {
  background: var(--white);
  color: var(--beige);
  font-size: var(--fontSize-M);
  width: 10em;
  text-align: center;
  padding: 0.5em 0;
  margin-bottom: var(--space-S);
  cursor: grab;
}

.buttonList {
  width: 35em;
  background: var(--white);
  color: var(--beige);
  padding: var(--space-S);
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-M);
  display: none;
  flex-direction: row;
  justify-content: space-between;
  z-index: 1000;
  position: relative;
  flex-wrap: wrap;
}
.buttonListPartners {
  width: 17em;
  background: var(--white);
  color: var(--beige);
  padding: var(--space-S);
  display: none;
  z-index: 1000;
  position: relative;
  flex-wrap: wrap;
}

.buttonListName {
  padding-left: var(--space-M);
  font-family: "Siggnal Mono";
}

.buttonListName a:hover,
.buttonListPartner a:hover {
  text-decoration: underline;
}

.buttonListPartner {
  margin-bottom: 0.8em;
}

.buttonColumn {
  width: 15em;
}

.buttonListEntry {
  margin-bottom: var(--space-M);
}

.buttonEntry:hover .buttonList,
.buttonEntry:hover .buttonListPartners {
  display: flex;
}

.buttonEntry:hover .button {
  background: var(--beige);
  color: var(--white);
  outline: 1.5px solid;
}

.linkButton {
  display: none;
}

@media screen and (max-width: 1024px) {
  .buttonsWrapper,
  .teamlist,
  .resetButton {
    display: none;
  }
  .wrapper {
    padding-left: var(--space-S);
    padding-right: var(--space-S);
  }
  .headline {
    transform: unset;
    margin: 0;
    width: 80%;
    font-size: var(--fontSize-M);
    line-height: var(--lineHeight-M);
    padding: var(--space-XS) var(--space-S);
  }
  .kicker {
    top: -1.7em;
    padding-left: 0;
    left: 0;
  }
  .body {
    width: 80%;
    padding: var(--space-S);
    margin-left: 20%;
    transform: translateY(-1em);
    margin-bottom: 0;
    margin-top: 5em;
  }
  .linkButton {
    display: block;
    background: var(--white);
    color: var(--beige);
    margin: var(--space-S) var(--space-S) 0 calc(20% + 5px);
    font-size: var(--fontSize-M);
    line-height: var(--lineHeight-M);
    padding: var(--space-XS) var(--space-S);
    text-align: center;
    font-family: "Siggnal Mono";
    transform: translateY(-0.5em);
  }
}
