.wrapper {
  padding: var(--space-S);
  margin-top: var(--space-L);
  margin-bottom: var(--space-M);
  width: 100%;
}

.row {
  background: var(--white);
  color: var(--beige);
  font-size: var(--fontSize-M);
  min-height: 1em;
  padding: 0 2px 0 2em;
  margin-bottom: 1.5px;
  cursor: pointer;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.open {
  max-height: 5000px;
  cursor: default;
}

.row:hover {
  color: var(--white);
  background: var(--beige);
  outline: 1.5px solid;
}

.rowOpen {
  cursor: default;
  color: var(--white);
  background: var(--beige);
  outline: 1.5px solid;
}

.rows {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.rowRef {
  position: absolute;
  top: -80px;
}

.indented {
  width: calc(90vw - 2 * var(--space-S));
  margin-left: 10vw;
}

.section {
  font-size: var(--fontSize-XS);
  font-family: "Alpina Mono";
  padding-left: 1em;
}

.content {
  margin-top: var(--space-M);
  font-size: var(--fontSize-S);
  display: flex;
  justify-content: space-between;
}

.content__text {
  width: 60%;
  margin-bottom: var(--space-S);
}

.content__subhead {
  margin-bottom: var(--space-M);
  padding-left: var(--space-L);
  white-space: pre-line;
}

.content__image {
  margin-right: var(--space-L);
  margin-bottom: var(--space-L);
  width: 20%;
  max-width: 400px;
}

.content__image img {
  width: 100%;
  height: auto;
}

.planning:hover,
.open.planning {
  background: var(--green);
  color: var(--pink);
  outline: 1.5px solid;
}

.factory:hover,
.open.factory {
  background: var(--purple);
  color: var(--yellow);
  outline: 1.5px solid;
}

.imaginaries:hover,
.open.imaginaries {
  background: var(--red);
  color: var(--blue);
  outline: 1.5px solid;
}

.open {
  background: var(--beige);
  color: var(--white);
  outline: 1.5px solid;
}

.introtext {
  margin-top: var(--space-S);
  margin-bottom: var(--space-S);
  font-size: var(--fontSize-S);
  width: 30em;
}

.closeButton {
  position: absolute;
  left: -0.3em;
  top: -0.3em;
}

.closeButton:hover {
  opacity: 0.5;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  opacity: 0.8;
}

.caption {
  font-size: var(--fontSize-XS);
  font-family: "Alpina Mono";
  text-align: center;
}

.searchWrapper {
  margin-bottom: var(--space-M);
  position: relative;
}

.searchbar {
  height: 30px;
  outline: 1.5px solid var(--white);
  border: 0;
  background: var(--beige);
  color: var(--white);
  width: 100%;
  margin-bottom: 30px;
  font-size: var(--fontSize-M);
  font-family: "Siggnal";
  padding-left: 0.5em;
}

.searchbar::placeholder {
  color: var(--white);

  opacity: 0.5;
}

.searchResult {
  width: 100%;
  outline: 1.5px solid var(--white);
  padding: var(--space-S);
  margin-bottom: var(--space-S);
  cursor: pointer;
}

.searchResult__headline {
  font-family: "Siggnal";
  font-size: var(--fontSize-M);
  margin-bottom: 1em;
}

.searchResult__body {
  display: flex;
  font-size: var(--fontSize-XS);
  line-height: var(--lineHeight-XS);
}

.searchResult__category {
  width: 20em;
  font-family: "Alpina Mono";
}

.searchResult__text {
  max-height: 5.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.searchResult:hover {
  background: var(--white);
  color: var(--beige);
}

.loadMoreButton {
  height: 30px;
  background: var(--white);
  color: var(--beige);
  display: inline-block;
  margin-bottom: var(--space-M);
  font-size: var(--fontSize-M);
  cursor: pointer;
}

.loadMoreButtonWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.loadMoreButton:hover {
  color: var(--white);
  background: var(--beige);
  outline: 1.5px solid;
}

.clearButton {
  position: absolute;
  right: -5px;
  top: -8px;
}

.highlight {
  background-color: var(--white);
  color: var(--beige);
  padding: 0 2px;
  border-radius: 2px;
  opacity: 0.5;
}

@media screen and (max-width: 1024px) {
  .row {
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    /* padding-left: 1.5em; */
  }
  .section {
    padding: 0.4em 1em;
  }
  .introtext {
    width: unset;
  }
  .indented {
    width: calc(90vw - 2 * var(--space-S));
    margin-left: 0vw;
  }
  .closeButton {
    transform: scale(0.8);
  }
  .content {
    flex-direction: column-reverse;
    padding-right: var(--space-S);
  }
  .content__image {
    width: 100%;
    max-width: unset;
    padding-right: var(--space-S);
    margin-bottom: var(--space-M);
  }
  .content__text {
    width: 100%;
  }
  .searchbar {
    height: 34px;
    border-radius: 0;
  }
  .loadMoreButton {
    padding: 2px 5px;
    height: unset;
  }
  .searchResult__category {
    padding-right: 20px;
  }
}
