.wrapper {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(5px);
  z-index: 100;
  overscroll-behavior: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.25);
}

.closeButton {
  position: fixed;
  top: var(--space-S);
  right: var(--space-S);
}

.slider {
  width: 100vw;
  height: 80svh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image__wrapper {
  width: 100vw;
  height: 80svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 14px;
}

.image__wrapper img {
  height: auto;
  width: auto;
  max-height: 100%;
  max-width: 100%;
  object-position: center;
  object-fit: contain;
}

.caption {
  font-size: var(--fontSize-XS);
  font-family: "Siggnal Mono";
  text-align: center;
  padding-top: var(--space-XS);
}
