.footer {
  width: 100vw;
  padding: var(--space-S);
  padding-top: 0;
  background: var(--beige);
  font-size: var(--fontSize-XS);
  line-height: var(--lineHeight-XS);
}

.footerInner {
  border: 1.5px solid;
  width: 100%;
  padding: var(--space-S);
}

.contact {
  margin-right: 2em;
  white-space: pre-line;
}

.contact p + p {
  padding-top: 1em;
}

.coordination {
  grid-column: span 2;
}
.info {
  grid-column: span 4;
}
.address {
  grid-column: span 2;
}
.contactData {
  grid-column: span 2;
  white-space: nowrap;
}

.links {
  grid-column: span 2;
  text-align: right;
  display: flex;
  flex-direction: column;
}

.logosWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-content: space-evenly;
}

.topRow {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-bottom: 2em;
}

.logoRow {
  width: 100%;
}

.col5 {
  grid-column: span 5;
}
.col2 {
  grid-column: span 2;
}

.logos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1.52em;
}

.logos img {
  height: 50%;
  width: auto;
  object-fit: contain;
  max-width: 150px;
  max-height: 45px;
}

.planning {
  background: var(--green);
  color: var(--pink);
}

.factory {
  background: var(--purple);
  color: var(--yellow);
}

.imaginaries {
  background: var(--red);
  color: var(--blue);
}

@media screen and (max-width: 1024px) {
  .footer {
    font-size: var(--fontSize-XS);
    line-height: var(--lineHeight-XS);
  }
  .topRow {
    display: block;
  }
  .contact {
    width: 100%;
  }
  .logosWrapper {
    margin-top: var(--space-L);
    display: block;
  }
  .logos {
    height: 5em;
    justify-content: space-evenly;
    width: calc(100vw - 5 * var(--space-S));
  }
  .links {
    display: block;
  }
  .links a {
    margin-right: var(--space-S);
  }
}
