.footer {
  width: 100vw;
  padding: var(--space-S);
  background: var(--beige);
}

.footerInner {
  border: 1.5px solid;
  width: 100%;
  padding: var(--space-S);
}

.contact {
  width: 25%;
  white-space: pre-line;
}

.logosWrapper {
  width: 75%;
}

.topRow {
  display: flex;
}

.logos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 8em;
}

.logos img {
  height: 50%;
  width: auto;
  max-width: 10em;
  object-fit: contain;
}

.links {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 5em;
}

.planning {
  background: var(--green);
}

.factory {
  background: var(--purple);
}

.imaginaries {
  background: var(--red);
}

@media screen and (max-width: 1024px) {
  .footer {
    font-size: var(--fontSize-XS);
    line-height: var(--lineHeight-XS);
  }
  .topRow {
    display: block;
  }
  .contact {
    width: 100%;
  }
  .logosWrapper {
    margin-top: var(--space-L)
  }
  .logos {
    height: 5em;
    justify-content: space-evenly;
    width: calc(100vw - 5 * var(--space-S));
  }
  .links {
    display: block;
  }
  .links a {
    margin-right: var(--space-S)
  }
}
