.wrapper {
  width: 100%;
  padding: var(--space-S);
  font-size: var(--fontSize-M);
  letter-spacing: var(--letterSpacing-M);
  position: fixed;
  top: 0;
  z-index: 100;
}

.topRow {
  display: flex;
  height: 1.3em;
}

.right {
  position: absolute;
  right: 0;
  width: 50%;
  min-width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.button {
  display: inline-flex;
  align-items: center;
  padding: 0 2px;
  height: 1em;
  padding-bottom: 4px;
  margin-right: var(--space-S);
  cursor: pointer;
}
